:root {
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --ocean: #404bbf;
    --white: #fff;
    --slate: #434455;
    --cornflower: #e7c9fc;
    --cloud: #f4f4fd;
}

body {
    font-family: "roboto"; sans-serif;
}

.toraul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 40px;

} 
.toraulin {
    list-style: none;
    padding-left: 0;
    display: flex;
    padding-top: 122px;
    padding-bottom: 122px;
    gap: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: cloud;

}
.toraulin p {
    text-align: left;
}


.logo span {
    font-family: raleway, sans serif;
    color: #4D5AE5;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    padding-left: 156px;

}

    

.dos {
    display: flex;
}

.logo {
    color: #2E2F42;
    font-family: Raleway, sans serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding-right: 76px;

}

head:hover {
    color: rgb(129, 5, 102);
  
}
.uno {
   display: flex;
   align-items: center;
  
}
.dos {
   align-items: center;
}
.mai {
    margin-left: 940px;
    gap: 40px;
   
}
.tee {
    margin-left: 40px;
}
.tel {
    text-align: right
}

.cont {
    padding-right: ;
}

/*GENERAL STYLING*/
.list {
    list-style: none;
    padding-left: 0;
    display: flex;
}
a {
    text-decoration: none;
    
}
.effective {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    color: #fff;
}
h2 {
    text-align: center;
    font-size: 56px;
    font-family: roboto, sans serif;
    font-style: normal;
}
button {
    color: white;
    border-radius: 4px;
    background: #4D5AE5;
    border: none;
    cursor: pointer;  
    padding: 16px 32px; 
}
button:hover {
    color:blue;
    background-color: aqua;
   
}


.stratcom {
    font-family: roboto, sans serif;
    font-style: normal;
    text-decoration: none;
    
}
h3 {
    color: #2E2F42;
    font-family: roboto, sans serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .4px;
    text-align: left;
   

}
.doing {
    color: #2E2F42;
    font-family: roboto, sans serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.team {
    color: cloud#2E2F42;
    font-family: roboto, sans serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    
    padding-top: 120px;}
.damas {
    background-color: var(--cloud)
}   
footer {
    background-color: #2E2F42;
   padding: 101.5px;

}
.logo2 span {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo2 {
    color: white;
    font-family: Raleway;`
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
}
.footp {
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.pointer {
    cursor: pointer;
}

.antenna {
        background-color: var(--cloud)
        border-radius: 4px
        width: 264px;
        height: 112px;
       
}